<div class="container-fluid view" id="pg-about">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <p>
                Clutch was founded in 2015 by <b>Cissy Chen</b>, <b>Eric Li</b>, <b>Aditya Trivedi</b> and <b>Julia Wang</b>, undergraduate students at Princeton University. </p>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <hr>
            <p><b>Contact us here: <a href="#/about">info@clutchapp.me</a></b>
            </p>
        </div>
    </div>
</div>
