<div class="container-fluid view" id="pg-details">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
            <hr>
            <h3 class="text-center">INSTALLATION</h3>
            <hr>
            <div class="col-md-6">
                <h5>Retailers</h5>
                <p class="serif">Receive a startup package that includes iBeacon hardware.</p>
                <p class="serif">Depending on your preferences, Clutch employees will install and configure iBeacons at different areas within the store to identify where shoppers are looking.</p>
            </div>

            <div class="col-md-6">
                <h5>Shoppers</h5>
                <p class="serif">Download Clutch’s mobile app (coming soon to iOS and Android).</p>
            </div>
        </div>

        <div class="row">
            <hr>
            <h3 class="text-center">BROWSING EXPERIENCE</h3>
            <hr>
            <div class="col-md-6">
                <h5>Retailers</h5>
                <p class="serif">Pre-upload existing deals onto Clutch.</p>
                <p class="serif">For personalized deals, choose a discount level and expiration date. Then, Clutch will help you target likely buyers using data collected from the iBeacons.</p>
            </div>
            <div class="col-md-6">
                <h5>Shoppers</h5>
                <p class="serif">When you walk into the store, Clutch will start tracking your location within the store. You can fill out what you’re looking for or just wait for our technology to learn your preferences. Current deals & personalized deals will be served in no time!</p>
            </div>
        </div>

        <div class="row">
            <hr>
            <h3 class="text-center">BUYING EXPERIENCE</h3>
            <hr>
            <div class="col-md-6">
                <h5>Retailers</h5>
                <p class="serif">Clutch’s coupons will include QR codes that we will help integrate into your existing system. Watch as customers reward your business for tailoring their shopping experience!</p>
            </div>
            <div class="col-md-6">
                <h5>Shoppers</h5>
                <p class="serif">Receive a coupon based on where you browse and what you want to buy - just bring it to the counter and the retailer will just apply it like any coupon to your purchase!</p>
            </div>
        </div>
    </div>
</div>