<div class="container-fluid view" id="pg-retailers">
    <div class="bg-img"></div>

    <div class="row text-center">
        <div class="jumbotron">
            <h2>
                <b>Every customer is special.</b>
            </h2>
            <br>
            <h4 class="serif">Customers are the lifeblood of your business. Serve them with Clutch &mdash; they'll love you in return.</h4>
            <br>
            <p>
                <button id="retailers-learn-btn" class="btn btn-secondary btn-lg" ng-click="showMore()">Learn More</button>
            </p>
            <p><a id="retailers-signup-btn" class="btn btn-primary btn-lg" href="http://goo.gl/forms/sgy4lxEjgi" target="_blank" role="button">Sign Up</a>
            </p>
        </div>
    </div>

    <div id="retailers-info" class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/illustrations/personal.png" alt="">
                <h4><b>Get Personal</b></h4>
                <p>Use hyperlocal data to offer deals to likely buyers.</p>
            </div>
            <div class="col-md-4">
                <img src="img/illustrations/sales.png" alt="">
                <h4><b>Up Your Sales</b></h4>
                <p>91% of consumers feel that an “in the moment” offer might influence their purchase.</p>
            </div>
            <div class="col-md-4">
                <img src="img/illustrations/love.png" alt="">
                <h4><b>Spread the Love</b></h4>
                <p>Make your customers feel special, leading to brand loyalty.</p>
            </div>
        </div>
    </div>
</div>